## build files
bake-build
build

## dependencies
dependencies
catch.hpp
catch.hpp.*

## objects and executables
a.out
test/test
benchmark/benchmark-time/benchmark
benchmark/benchmark-branch-cache/benchmark
*.o
